@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("/path/to/fonts/Open Sans/open-sans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("/path/to/fonts/Open Sans/open-sans-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("/path/to/fonts/Open Sans/open-sans-normal-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("/path/to/fonts/Open Sans/open-sans-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: local("☺"), url("/path/to/fonts/Open Sans/open-sans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Font Two";
  src: local("☺"), url("/path/to/fonts/Font Two/font-two.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
